body{
    font-family: 'Caveat', cursive;
}


header{
    z-index: 100;
}

/* #btn-arrow{
    color: white;
} */


#logo{
    font-size: 4em !important;
}

#author-btn{
    background-color: rgb(9, 9, 9);
    color: whitesmoke;
}

#author-btn:hover{
    background-color: rgb(31, 31, 31);
    color: whitesmoke;
}
